/* ESTILO GERAL */
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
body{
    background-color: rgb(0, 0, 0);
    height: 100vh;
}
.interface{
    max-width: 1200px;
    margin: 0 auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 95px;
}
.titulo{
    color: white;
    text-align: center;
    font-size: 38px;
    padding: 300px 0 0 0 ;
}
h1{
    color: white;
}
h2{
    color: #e53939;
    text-align: center;
    font-size: 38px;
    padding: 250px 0 0 0 ;
}
h3{
    color: #e53939;
}
.p{
    color: white;
}
/* ESTILO CABEÇALHO */
header{
    padding: 40px 4%;
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a {
    color: #e53939;
    text-decoration: none;
    display: inline-block;
}

header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 0 40px;
}
/* ESTILO DO TOPO DA PAGINA */
section .topo-do-site{
    padding: 40px 4%;
}
.topo-do-site {
    font-size: 30px;
    line-height: 40px;
}
.span1{
    color: black;
    background-color: yellow;
    border-radius: 6% 0%;
}
.span2{
    color: yellow;
    background-color: black;
    border: inset yellow;
    border-radius: 12% 12%;
}
/* ESTILO CURIOSIDADES */
.section .Curiosidades{
    padding: 40px 4%;
}
.section .Curiosidades .flex{
    gap: 60px;

}
.Curiosidades-box{
    color: white;
    padding: 40px;
    border-radius: 30px;
    border: 2px inset #e53939 ;
    transition: 2s;
}
.Curiosidades-box :hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #e539398f;
}
.Curiosidades-box h3{
    font-size: 26px;
    margin: 15px 0 0 0 ;
}
/* ESTILO DO OBJETIVOS */
section .objetivos{
    padding: 40px 4%;
}
section .objetivos .flex{
    align-items: center;
    gap: 60px;
}
.objetivos .imgobjetivos{
    display: flex;
    text-align: center;
    margin-top: auto;
    border-radius: 0px;
    border: 2px inset #e5393996 ;
}
.objetivos .txtobjetivos{
    color: white;
    font-size: 20px;
}
.objetivos .txtobjetivos span{
    color: #e53939;
}
.objetivos .txtobjetivos p{
    margin: 20px 0;
    text-align: justify;
}
/* FOOTER */
.wrapper {
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  
  .icon {
    text-decoration: none;
    width: 45px;
    height: 45px;
    border-radius: 14px;
    background-color:  #e53939;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  
  .icon > i {
    color: #ffffff63;
    font-size: 20px;
    transition: all 0.2s;
  }
  
  .icon:hover > i {
    scale: 1.2;
    color: #f1f1f1;
  }
  
  .icon:before {
    background: var(--color);
    content: "";
    position: absolute;
    width: 130%;
    height: 130%;
    left: -110%;
    top: 80%;
    transform: rotate(45deg);
  }
  
  .icon:hover:before {
    animation: slide 0.7s forwards;
  }
  
  @keyframes slide {
    50% {
      left: 10%;
      top: -40%;
    }
  
    100% {
      left: -15%;
      top: -15%;
    }
  }
  
  .icon:has(.fa-instagram) {
    --color: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
  }
  .icon:has(.fa-linkedin-in) {
    --color: #0077b5;
  }
  .icon:has(.fa-github) {
    --color: #333;
  }
  /* RESPOSIVIDADE */
  @media screen and (max-width: 1020px ){
    /* CLASSES GERAIS */
    .flex {
        flex-direction: column-reverse;
    }
    /* CABEÇALHO */
    .menu-pc{
        display: none;
    }
  }