/* ESTILO GERAL */
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
body{
    background-color: rgb(0, 0, 0);
    height: 100vh;
}
.interface{
    max-width: 1200px;
    margin: 0 auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 95px;
}
/* ESTILO CABEÇALHO */
header{
    padding: 40px 4%;
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a {
    color: #e53939;
    text-decoration: none;
    display: inline-block;
}

header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 0 40px;
}
/* ESTILO DO TOPO DA PAGINA */
section .topo-do-site{
    padding: 40px 4%;
}
.topo-do-site {
    font-size: 30px;
    line-height: 40px;
}
h1{
    color: white;
}
h3{
    color: #e53939;
}
.p{
    color: white;
}
.span1{
    color: black;
    background-color: yellow;
    border-radius: 6% 0%;
}
.span2{
    color: yellow;
    background-color: black;
    border-radius: 6% 0%;
}
